In [1]:
import pandas as pd

In [3]:
netflix_info = pd.read_csv("NetflixViewingHistory.csv")

In [4]:
netflix_info

                                                  Title        Date
0            Russian Doll: Season 2: Station to Station    5/4/2022
1                   Russian Doll: Season 2: Brain Drain    5/3/2022
2             Russian Doll: Season 2: Coney Island Baby   4/26/2022
3                        Russian Doll: Season 2: Nowhen   4/26/2022
4     Eternally Confused and Eager for Love: Season ...   4/10/2022
...                                                 ...         ...
1967                    The OA: Part I: Chapter 4: Away  12/22/2016
1968                The OA: Part I: Chapter 3: Champion  12/22/2016
1969            The OA: Part I: Chapter 2: New Colossus  12/22/2016
1970              The OA: Part I: Chapter 1: Homecoming  12/22/2016
1971                                 The Imitation Game  12/21/2016

[1972 rows x 2 columns]

In [5]:
netflix_info.shape[0]

1972

In [6]:
netflix_info.shape[1]

2

In [13]:
first_column = netflix_info.columns[0]
print(first_column)

Title

In [15]:
second_column = netflix_info.columns[1]
print(second_column)

Date

In [16]:
netflix_info['Title']

0              Russian Doll: Season 2: Station to Station
1                     Russian Doll: Season 2: Brain Drain
2               Russian Doll: Season 2: Coney Island Baby
3                          Russian Doll: Season 2: Nowhen
4       Eternally Confused and Eager for Love: Season ...
                              ...
1967                      The OA: Part I: Chapter 4: Away
1968                  The OA: Part I: Chapter 3: Champion
1969              The OA: Part I: Chapter 2: New Colossus
1970                The OA: Part I: Chapter 1: Homecoming
1971                                   The Imitation Game
Name: Title, Length: 1972, dtype: object

In [17]:
netflix_info["Title"].apply(lambda title: "Designated Survivor" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [19]:
netflix_info["Title"].apply(lambda title: "Designated Survivor" in title).sum()

10

In [20]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :]

                                                Title       Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022
9                       Bridgerton: Season 2: Harmony   4/3/2022
10                   Bridgerton: Season 2: The Choice   4/2/2022
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/2022
12                      Bridgerton: Season 2: Victory  3/31/2022
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/2022
14             Bridgerton: Season 2: Off to the Races  3/30/2022
15               Bridgerton: Season 2: Capital R Rake  3/26/2022
409              Bridgerton: Season 1: After the Rain   1/9/2021
410                Bridgerton: Season 1: Oceans Apart   1/9/2021
411                       Bridgerton: Season 1: Swish   1/9/2021
412              Bridgerton: Season 1: The Duke and I   1/9/2021
413          Bridgerton: Season 1: An Affair of Honor   1/8/2021
414            Bridgerton: Season 1: Art of the Swoon   1/8/2021
415           Bridgerton: Season 1: Shock and Delight   1/8/2021
416  Bridgerton: Season 1: Diamond of the First Water   1/8/2021

In [21]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=True)

                                                Title       Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/2021
414            Bridgerton: Season 1: Art of the Swoon   1/8/2021
415           Bridgerton: Season 1: Shock and Delight   1/8/2021
416  Bridgerton: Season 1: Diamond of the First Water   1/8/2021
409              Bridgerton: Season 1: After the Rain   1/9/2021
410                Bridgerton: Season 1: Oceans Apart   1/9/2021
411                       Bridgerton: Season 1: Swish   1/9/2021
412              Bridgerton: Season 1: The Duke and I   1/9/2021
15               Bridgerton: Season 2: Capital R Rake  3/26/2022
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/2022
14             Bridgerton: Season 2: Off to the Races  3/30/2022
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/2022
12                      Bridgerton: Season 2: Victory  3/31/2022
10                   Bridgerton: Season 2: The Choice   4/2/2022
9                       Bridgerton: Season 2: Harmony   4/3/2022
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022

In [22]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=True)["Date"]

413     1/8/2021
414     1/8/2021
415     1/8/2021
416     1/8/2021
409     1/9/2021
410     1/9/2021
411     1/9/2021
412     1/9/2021
15     3/26/2022
13     3/30/2022
14     3/30/2022
11     3/31/2022
12     3/31/2022
10      4/2/2022
9       4/3/2022
8       4/4/2022
Name: Date, dtype: object

In [23]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=True)["Date"].iloc[0]

'1/8/2021'

In [30]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=True)

                                                Title       Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/2021
414            Bridgerton: Season 1: Art of the Swoon   1/8/2021
415           Bridgerton: Season 1: Shock and Delight   1/8/2021
416  Bridgerton: Season 1: Diamond of the First Water   1/8/2021
409              Bridgerton: Season 1: After the Rain   1/9/2021
410                Bridgerton: Season 1: Oceans Apart   1/9/2021
411                       Bridgerton: Season 1: Swish   1/9/2021
412              Bridgerton: Season 1: The Duke and I   1/9/2021
15               Bridgerton: Season 2: Capital R Rake  3/26/2022
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/2022
14             Bridgerton: Season 2: Off to the Races  3/30/2022
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/2022
12                      Bridgerton: Season 2: Victory  3/31/2022
10                   Bridgerton: Season 2: The Choice   4/2/2022
9                       Bridgerton: Season 2: Harmony   4/3/2022
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022

In [31]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=True)["Title"].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

In [32]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=False)

                                                Title       Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022
9                       Bridgerton: Season 2: Harmony   4/3/2022
10                   Bridgerton: Season 2: The Choice   4/2/2022
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/2022
12                      Bridgerton: Season 2: Victory  3/31/2022
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/2022
14             Bridgerton: Season 2: Off to the Races  3/30/2022
15               Bridgerton: Season 2: Capital R Rake  3/26/2022
409              Bridgerton: Season 1: After the Rain   1/9/2021
410                Bridgerton: Season 1: Oceans Apart   1/9/2021
411                       Bridgerton: Season 1: Swish   1/9/2021
412              Bridgerton: Season 1: The Duke and I   1/9/2021
413          Bridgerton: Season 1: An Affair of Honor   1/8/2021
414            Bridgerton: Season 1: Art of the Swoon   1/8/2021
415           Bridgerton: Season 1: Shock and Delight   1/8/2021
416  Bridgerton: Season 1: Diamond of the First Water   1/8/2021

In [34]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=False)["Date"]

8       4/4/2022
9       4/3/2022
10      4/2/2022
11     3/31/2022
12     3/31/2022
13     3/30/2022
14     3/30/2022
15     3/26/2022
409     1/9/2021
410     1/9/2021
411     1/9/2021
412     1/9/2021
413     1/8/2021
414     1/8/2021
415     1/8/2021
416     1/8/2021
Name: Date, dtype: object

In [36]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=False)["Date"].iloc[0]

'4/4/2022'

In [38]:
netflix_info.loc[["Bridgerton" in title for title in netflix_info["Title"]], :].sort_values("Date", ascending=False)["Title"].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'